[2018-09-24 14:06] mathiasbynens opened #1 "Use `firebase serve` instead of `http-server`"
We can make the switch as soon as https://github.com/firebase/firebase-tools/issues/876 is resolved.

[2018-09-25 01:18] mathiasbynens opened #2 "Syntax highlighting for Torque and assembly"
Prism plugin for Torque: https://github.com/v8/v8.dev/blob/master/prism/torque.js

For assembly, `Prism.languages.asm = Prism.languages.nasm;` might be good enough (https://github.com/PrismJS/prism/issues/482).

To enable these, we’re blocked on https://github.com/11ty/eleventy-plugin-syntaxhighlight/issues/4.

[2018-09-25 23:22] #1 closed, assigned to nobody

[2018-09-26 11:20] mathiasbynens opened #3 "Improve Twitter embed behavior on iOS?"
https://twitter.com/Vjeux/status/1044814750838923269

[2018-09-27 11:38] mathiasbynens commented on #3
1. It looks like Twitter is using `-webkit-overflow-scrolling: auto` within their embeds :( Not sure if we can override that.
2. No idea; we’re not doing anything special for footer links.

@indianburger [suggested](https://twitter.com/indianburger/status/1044937898821279744) that this is something Twitter might fix on their end. That’d be great! Please keep us posted, @indianburger :)

[2018-09-27 15:45] realsrikar opened #4 "Redirect Service Worker Error"
# Introduction
iOS 12 Safari shows an error saying “response server by service worker has redirections” and refuses to open the page. This happens after the service worker has been installed i.e. after the first couple visits.

## Error
![Safari refuses to open v8.dev due to a service worker error.](https://user-images.githubusercontent.com/30674879/46157631-c83c9b00-c299-11e8-8026-a6fdb51d6134.pn

[2018-09-27 16:16] jeffposnick commented on #4
FWIW, there is some [special logic](https://github.com/GoogleChrome/workbox/issues/173) in Workbox to deal with redirected responses due to security restrictions in the service worker specification.

[2018-09-27 16:18] realsrikar commented on #4
I’m closing the issue for now assuming this is a safari bug. If this is not a safari bug feel free to reopen this issue.

[2018-09-27 16:18] mathiasbynens commented on #4
I agree it does smell like a Safari bug. Would you mind reporting this to Apple? https://bugs.webkit.org/

[2018-09-27 16:27] mathiasbynens commented on #4
Just browsing the website, you wouldn’t run into any redirects on https://v8.dev/. (We have [some redirects](https://github.com/v8/v8.dev/blob/master/firebase.json#L5-L25) set up, but we don’t link to them anywhere.)

[2018-09-27 16:57] realsrikar commented on #4
Issue has been filed https://bugs.webkit.org/show_bug.cgi?id=190041

[2018-09-27 22:00] mathiasbynens commented on #4
Thank you, @realsrikar!

[2018-09-28 18:40] #2 closed

[2018-09-29 09:53] youennf commented on #4
I did some debugging and put some information in
https://bugs.webkit.org/show_bug.cgi?id=190041#c3

The service worker is fetching "https://v8.dev/index.html" which redirects to "https://v8.dev".
The load is thus failing as per spec.
It seems to me the service worker or the server should be updated here.

[2018-09-29 12:42] mathiasbynens commented on #4
@jeffposnick How can we prevent this in Workbox? Instead of `/index.html`, we want to fetch just `/`.

- `sw.js`: https://github.com/v8/v8.dev/blob/master/src/sw.js
- `workbox-config.js`: https://github.com/v8/v8.dev/blob/master/workbox-config.js Should I just replace `index.html` with `/`?

[2018-09-30 03:04] realsrikar commented on #4
I haven’t ever used workbox, but when I visit v8.dev/sw.js it shows a revision hash (which means it’s calculating the hash using file path provided workbox-config.js (?)). And because `index.html` is a file but `/` isn’t, how would workbox calculate the hash?

[2018-09-30 09:18] youennf commented on #4
I had a second look and I think there is a bug in Safari which prevents index.html to be served from cache. This then triggers the bug from workbox.
workbox-precaching.prod.js could be made more robust by changing the following line:
let r = caches.open(g).then(e => e.match(n)).then(e => e || fetch(n));
to:
let r = caches.open(g).then(e => e.match(n)).then(e => e || fetch(t.request.url));

[2018-10-01 15:01] #4 closed

[2018-10-12 09:10] mathiasbynens opened #13 "Update outdated testing docs"

[2018-10-12 09:40] mathiasbynens opened #14 "Update outdated docs mentioning Google Code"
https://v8.dev/docs/source-code#viewing-the-try-server

[2018-10-12 10:49] mathiasbynens opened #15 "Update outdated docs mentioning Octane"
https://v8.dev/docs/profile#profiling-web-applications

[2018-10-12 10:57] mathiasbynens opened #16 "Update outdated docs mentioning GYP"
https://v8.dev/docs/d8-android

[2018-10-12 11:01] mathiasbynens opened #17 "Update outdated docs w.r.t. setting up push access to the repository"
https://v8.dev/docs/become-committer#setting-up-push-access-to-the-repository

[2018-10-12 11:10] mathiasbynens opened #18 "Double-check SpiderMonkey for Lollipop mention"
https://v8.dev/docs/d8-android#compile-spidermonkey-for-lollipop

[2018-10-12 11:16] #17 closed

[2018-10-12 16:19] alrra opened #20 "Some doc links => 404"
e.g.:

https://v8.dev/docs/turbofan
https://v8.dev/docs/ignition
https://v8.dev/docs/untrusted-code-mitigations
...

[2018-10-12 16:42] mathiasbynens commented on #20
Fixed by fdffe71897d35d07821c9bb0986359d7ed8ca4da. (I had already corrected the casing of the files on my local system, but because I’m using macOS which is case-insensitive, it didn’t get picked up. Bleh!)

[2018-10-12 16:42] #20 closed

[2018-10-12 16:44] mathiasbynens commented on #14
@natorion Could you update this please?

[2018-10-12 16:49] mathiasbynens commented on #3
I’m gonna close this one, as it’s an upstream issue.

[2018-10-12 16:49] #3 closed

[2018-10-12 17:00] mathiasbynens commented on #18
Removed in f21527a2a4afc90e35a5153e8853b10250f82487 after @rmcilroy confirmed this is unnecessary.

[2018-10-12 17:00] #18 closed

[2018-10-12 17:05] mathiasbynens commented on #16
@hashseed Do you know what the GYP-less workflow is like? If so, could you update the docs please?

[2018-10-12 17:10] mathiasbynens commented on #14
Hmm, there’s also https://v8.dev/docs/d8-android#prerequisites.

[2018-10-12 19:29] hashseed commented on #16
@ulan

[2018-10-13 05:14] alrra opened #24 "Liftoff logo with outline seems different compared to the original"
Shouldn't the Liftoff logo with the outline have the dark gray thing above the blue circle, same as the original?

<img width="300" src="https://user-images.githubusercontent.com/1223565/46901597-97e52700-ce6b-11e8-9ee4-5952fe7d99cb.png">

<img width="300" src="https://user-images.githubusercontent.com/1223565/46901629-fc07eb00-ce6b-11e8-91dd-5df07688adb9.png">

[2018-10-15 08:59] mathiasbynens commented on #24
Good catch! @mustafa-x could you take a look please?

[2018-10-15 09:08] mathiasbynens opened #25 "Add Torque documentation"
`/docs/torque` would be nice.

https://v8.dev/docs/csa-builtins could be updated to cross-reference it, or even be replaced by it.

This is important since we currently recommend that all new built-ins are written in Torque.

cc @dannoc

- https://docs.google.com/document/d/1GU1ubYuNY5GSQvS874hB4xP2wopleo-X-DR4DUwFWAE/edit
- [Torque user manual](https://docs.google.com/document/d/1oC_XLE71wxAlCabu

[2018-10-15 09:58] psmarshall opened #26 "Some titles display HTML escape codes in the title bar"
e.g. In the title for this page, `&amp;` shows in the title bar.

![v8_dev_bug](https://user-images.githubusercontent.com/7401419/46944075-6f2e7e80-d071-11e8-9e00-618086a7c621.png)

[2018-10-15 14:27] natorion opened #27 "Serving locally requires login"
[code]

[2018-10-15 14:28] mathiasbynens commented on #27
Per https://github.com/firebase/firebase-tools/issues/302, this is by design :( Looks like we'll have to use superstatic directly instead of `firebase serve`.

[2018-10-15 14:59] #27 closed

[2018-10-15 15:39] #26 closed

[2018-10-15 15:41] mathiasbynens commented on #26
The current fix assumes the actual plain-text title won't ever contain HTML character references, which seems like a reasonable assumption for this website.

[2018-10-16 11:45] drexpp commented on #15
Hello Mathias if I want to help with this issue, should I setup my code and just modify those pages which include references to "Octane"?

Thanks!

[2018-10-16 13:10] mathiasbynens commented on #15
Hey @drexpp. Thanks for offering to help! In this particular case I think we could the linked page to point to https://v8.dev/blog/real-world-performance instead of Octane.

[2018-10-16 14:11] mustafa-x commented on #24
opps my bad, should be fixed now. @mathiasbynens ive updated the files in the dir. Feel free to commit here.
![v8-liftoff](https://user-images.githubusercontent.com/1212513/47022550-a8401f00-d155-11e8-9785-c19bc4d58648.png)

[2018-10-16 14:50] #24 closed

[2018-10-16 14:50] mathiasbynens commented on #24
Thanks!

[2018-10-17 09:00] mathiasbynens commented on #25
Leaving this issue open until https://v8.dev/docs/csa-builtins is updated to point to https://v8.dev/docs/torque, and possibly marked as deprecated (?). cc @tebbi

[2018-10-17 09:17] domenic opened #32 "Service worker fails to register if using uBlock origin"
[code]

Might be more of a workbox issue, but seems bad.

[2018-10-17 12:10] mathiasbynens opened #34 "Update Torque syntax highlighting per recent changes"
https://github.com/v8/v8.dev/blob/9c0f026bd308bc021febc4980dc9ee7ff1841020/prism-languages.js#L16-L48

It might make sense to leave a comment linking to https://github.com/v8/v8/blob/master/src/torque/torque-parser.cc to the file as well.

[2018-10-17 12:12] mathiasbynens commented on #32
cc @jeffposnick

[2018-10-17 12:14] mathiasbynens commented on #32
This seems to be https://github.com/GoogleChrome/workbox/issues/1186 + https://github.com/GoogleChrome/workbox/issues/1646. I’ll leave this issue open as a reminder to update our Workbox version once this is fixed upstream.

[2018-10-17 15:51] jeffposnick commented on #32
Yup. You can move to `4.0.0-alpha.0` if you want to do something now, and pick up the renamed scripts.

[2018-10-18 08:34] #32 closed

[2018-10-19 16:27] #15 closed

[2018-10-22 16:45] hashseed commented on #13
/cc jakobkummerow would you be willing to update the instructions to use `gm.py`?

[2018-10-22 16:46] hashseed commented on #13
/cc @jakobkummerow would you be willing to update the instructions to use `gm.py`?

[2018-10-22 17:50] ulan commented on #16
We have https://v8.dev/docs/cross-compile-arm that describes how to build d8 using GN.

So I think https://v8.dev/docs/d8-android can be removed.

[2018-10-23 07:05] mathiasbynens commented on #4
@caleb531 +1 This solved the issue for us too, although [in our case](https://github.com/v8/v8.dev/pull/7) we could use `/` instead of `.`.

[2018-10-23 07:14] natorion commented on #14
Sergiy, could you please update this with the latest information?

[2018-10-23 07:15] #16 closed

[2018-10-23 07:26] mathiasbynens opened #41 "Link to blog post on embedded built-ins"
https://v8.dev/blog/v8-release-69

[code]

…could be:

[code]

…and “Expect more details soon in a dedicated blog post” could be updated to say “For more details, see our dedicated blog post” or something similar.

[2018-10-23 09:57] rryk commented on #14
I am not sure how to edit that page. Is there some link I should use or could it be that I lack edit access?

[2018-10-23 09:58] rryk commented on #14
Oh. Nvm, found "edit" link.

[2018-10-23 10:02] rryk commented on #14
I've updated the link. Authentication is not necessary anymore, hence removed any mention of it. I wonder why would anyone want to view the tryserver though? Normally, users are interested in builder results on their CLs, which is displayed directly in Gerrit. Should I perhaps replace that section with instructions on how to view tryjob results from the command line, i.e. git-cl-try-results?

[2018-10-23 10:40] mathiasbynens commented on #14
@rryk That sounds more useful indeed. Please submit a PR with those follow-up changes!

[2018-10-23 11:05] mathiasbynens commented on #13
@jakobkummerow Note that you can point to https://v8.dev/docs/build-gn#gm for more information.

[2018-10-23 11:56] rryk commented on #14
I've updated https://github.com/v8/v8.dev/blob/master/src/docs/source-code.md. How do I submit a PR?

[2018-10-23 12:04] #14 closed

[2018-10-23 12:06] mathiasbynens commented on #14
You're one of the few people with admin access to this repo, so you can push to the master branch directly. However, it's generally preferred to create a new pull request for any changes. That way we can review the changes and run CI checks before landing it. :) Thanks!

[2018-10-23 12:08] rryk commented on #14
Thanks for explaining. I'll use a PR request next time.

[2018-10-24 03:26] erossszh opened #43 "Run build script generates an error"
![image](https://user-images.githubusercontent.com/40795291/47404020-52cfc780-d77e-11e8-966a-f9146f8e2035.png)

on the other hand,when i  run start   and   then   input  'http://localhost:9001'  in chrome,the response is

![image](https://user-images.githubusercontent.com/40795291/47404366-a1319600-d77f-11e8-9215-b7e63e232ca0.png)

thanks:)

[2018-10-24 07:32] mathiasbynens commented on #43
It looks like you didn't follow the steps in <https://github.com/v8/v8.dev#local-setup>.

- Use the expected Node.js version
- Don't run `eleventy` directly; instead, use the `npm run` scripts

[2018-10-24 07:36] #43 closed

[2018-10-24 08:14] erossszh commented on #43
@mathiasbynens thank you!  My node version  is  v8.9.3, this is the wrong place :)

[2018-10-24 12:01] #41 closed

[2018-10-24 12:03] mathiasbynens commented on #34
Closing as since #35 the current highlighter works well enough for now.

[2018-10-24 12:03] #34 closed

[2018-10-26 15:59] thysultan commented on #25
On the topic of syntax highlighting: Is the TypeScript syntax package(sublime) close enough?

[2018-10-26 16:04] mathiasbynens commented on #25
It’s better than nothing, but Torque is different enough that it’s worth having a separate highlighter for.

[2018-11-07 00:33] mathiasbynens commented on #25
@tebbi @danno Should https://v8.dev/docs/csa-builtins be updated to point to https://v8.dev/docs/torque, and possibly even be marked as deprecated? Can someone submit a patch please?

[2018-11-07 07:30] dannoc commented on #25
I am not sure we're ready to deprecate the CSA docs fully, but we certainly
should provide an equivalent Torque intro and how-to. Tobias, is this
something you might be willing to update?

Daniel Clifford |  Tech Lead & Manager, V8 |  Google Germany GmbH |  Erika-Mann
Str. 33, 80636 München

Registergericht und -nummer: Hamburg, HRB 86891 | Sitz der Gesellschaft:
Hamburg | Geschäftsführer: Paul Ma

[2018-11-07 14:44] tebbi commented on #25
I agree, it makes sense to port this guide to Torque. I'll do that.

[2018-11-07 14:50] dannoc commented on #25
Cool, thanks!

On Wed, Nov 7, 2018 at 2:44 PM, Tobias Tebbi <notifications@github.com>
wrote:

[2018-11-09 19:14] mathiasbynens opened #59 "Update i18n docs if needed"
Are the following sections still accurate?

- https://v8.dev/docs/i18n#alternative-icu-checkout
- https://v8.dev/docs/i18n#system-icu

If yes, please close this issue. If not, please submit a patch.

Thanks!

[2018-11-09 20:44] mathiasbynens opened #60 "Add page collecting presentations by the V8 team"
Maybe `/presentations`?

[2018-11-09 20:51] mathiasbynens commented on #60
CDNJS hosts a copy, although they don’t serve it as UTF-8: https://cdnjs.com/libraries/he

[2018-11-10 01:19] mathiasbynens opened #61 "Use vanilla Google Analytics, not Google Tag Manager"
We’re not using Google Tag Manager’s additional functionality so let’s use vanilla Google Analytics instead.

[2018-11-12 10:33] gsathya opened #64 "Add option to search the docs"
It's kinda hard to find the info I'm looking for if I don't know the exact page. Previously I used the github search to find stuff on the wiki.

[2018-11-12 20:50] gsathya commented on #64
For anyone else who might hit this, my current hack is to use google search with the site keyword like this `site:v8.dev rebaseline`

[2018-11-13 00:32] mathiasbynens commented on #64
I have this in `chrome://settings/searchEngines`:

![](https://user-images.githubusercontent.com/81942/48382926-6d6bd100-e698-11e8-8dd1-ee812af4a0f6.png)

Whenever I enter `v8d rebaseline` into my address bar, it takes me to those search results.

[2018-11-13 00:46] mathiasbynens commented on #64
We could build a search index at build time and save it as a JSON file, which we could then use to search the site inline… But I’m worried that it would be a lot of effort for something that’s still gonna suck compared to Google Search. 🤔

[2018-11-13 11:39] gsathya commented on #64
We could something like this: https://www.netlify.com/blog/2017/10/10/replacing-our-search-with-algolia/ using algolia.

[2018-11-19 15:56] xtuc commented on #64
cc @haroenv, I think that Algolia would be a good fit!

[2018-11-19 16:00] xtuc opened #72 "Update presubmit instructions"
https://chromium-review.googlesource.com/c/v8/v8/+/1307423 removed `tools/presubmit.py` as instructed here https://v8.dev/docs/contribute#submit-your-code.

I'm not sure how to update it and if that's the correct place to complain about, but at least It will ping the website team. Thanks!

[2018-11-19 17:18] Haroenv commented on #64
Let me know if you have any questions on doing the search with e.g. DocSearch :)

[2018-11-19 19:07] #72 closed

[2018-11-20 08:40] gsathya commented on #64
[Docsearch](https://community.algolia.com/docsearch/) looks amazing.

[2018-11-20 10:56] s-pace commented on #64
👋 @gsathya ,

I am working at algolia with @Haroenv, focusing on DocSearch.

We would love to help your project. Its content is so great and helpful for the community. We will extend the search to the blog part.

I have made a quick demo that you [can find here](https://v8_dev-docsearch.surge.sh/) (The position of the bar can be easily changed):

[![Preview of DocSearch + v8_dev](https://cl.ly/ec0

[2018-11-20 19:21] mathiasbynens commented on #64
Thank you for putting that demo together, @s-pace!

----

In general, adding search functionality to v8.dev comes at a cost, no matter which approach we go with. There are pros and cons to each approach:

- approach A: no search functionality (i.e. the current approach)
     - pro: no perf overhead at all
     - con: people wishing to search must use search engines
- approach B: a simple Google Se

[2018-11-20 21:06] Haroenv commented on #64
Yes, for an ultra-minimal page like v8, currently docsearch might be on the big size. There’s no real “easy” ways how to get it massively smaller for now, but it’s something we will work on in the future

[2018-11-21 08:00] s-pace commented on #64
@mathiasbynens

Thank you for sharing your concern. Since performance is the main blocker here, you can also load it in an asynchronous way. You will need to use the following snippet.

[code]

As @Haroenv raised, we are working on streamlining these assets.

[2018-11-21 08:55] xtuc commented on #64
@mathiasbynens I think that the search is very valuable. The index doesn't always reflect the content of the page, especially for the release notes.

Also if the async version isn't enough, as a user, I'm fine clinking on a search button/page and waiting a few seconds to load DocSearch.

[2018-12-02 21:55] mathiasbynens opened #84 "Add current footnote styling"
Example link: https://v8.dev/blog/fast-async#fn2

Maybe something like `.footnote-item:target { background: lightyellow; }`?

[2018-12-03 17:33] mathiasbynens opened #85 "Add RCS docs"
https://v8.dev/blog/real-world-performance mentions it and links to [the slide deck](https://docs.google.com/presentation/d/1Lq2DD28CGa7bxawVH_2OcmyiTiBn74dvC6vn2essroY/edit). We should have a separate page on `https://v8.dev/docs/rcs`.

[2018-12-04 10:40] #84 closed

[2018-12-04 10:47] #61 closed

[2018-12-06 09:10] xtuc opened #91 "Dead links in Blink layout tests"
https://chromium.googlesource.com/chromium/src/+/master/docs/testing/layout_tests.md and https://chromium.googlesource.com/chromium/src/+/master/docs/testing/layout_test_expectations.md#How-to-rebaseline are dead.

[2018-12-06 10:34] mathiasbynens commented on #91
Looks like these files were renamed in <https://chromium.googlesource.com/chromium/src/+/59ffb020bd6fc65b67dd11cafa0198eb80e225bc>. @xtuc, would you like to submit a PR?

[2018-12-06 11:19] xtuc commented on #91
Yes sure, thanks for the information.

[2018-12-06 12:18] #91 closed

[2018-12-25 20:21] bmeurer opened #104 "Responsive videos"
Our (youtube) video embeds don't preserve aspect ratio properly. This could be fixed with `markdown-it-video` and proper CSS (<https://github.com/bmeurer/benediktmeurer.de/commit/f6054bd6d88d4ec4ae728a41d6605abfaebb4078> gives an idea). The difference can be seen between <https://v8.dev/blog/fast-async> and <https://benediktmeurer.de/2018/11/12/faster-async-functions-and-promises/> on a phone or i

[2019-01-02 09:05] mathiasbynens commented on #104
I just went through all YouTube embeds on v8.dev and confirmed they're all 16:9 (or at least, the YouTube Embed snippet for each of them outputs a 16:9-ratio'd `iframe`).

Note that making the videos responsive is trickier than just the examples you've highlighted, since some of our videos have `<figcaption>`s. Example: https://v8.dev/blog/tracing-js-dom#devtools-heap-snapshot

[code]

If we posit

[2019-01-02 09:35] mathiasbynens commented on #104
I caved and added a `<div>` around the `<iframe>` in https://github.com/v8/v8.dev/pull/112. PTAL :)

[2019-01-02 09:42] #104 closed

[2019-01-03 13:37] mathiasbynens opened #113 "Add glossary to docs?"
Maybe we need a glossary page with linkable quick explanations of common V8 concepts, such as "Smi".

[2019-01-03 16:49] mathiasbynens opened #117 "Make `npm run lint` a pre-commit hook?"

[2019-01-04 10:36] #117 closed

[2019-01-04 11:33] mathiasbynens opened #121 "Consider hosting V8 tools under /tools"
We could host the HTML files + assets for Turbolizer, parse-processor, etc. under `v8.dev/tools/*` if we wanted to.

This seems like a good idea, but an open question remains how we'll keep it in sync with the V8 repo. Requiring a manual PRs for every change seems awkward. We could set up a bot to automate sending such PRs, but there'd still be some overhead.

Ideally, we'd be able to simply proxy

[2019-01-09 18:09] aviralg opened #126 "Consider adding RSS/Atom support"

[2019-01-10 16:47] mathiasbynens commented on #126
It's already there. Our Atom feed is at <https://v8.dev/blog.atom>, as advertised in the HTML:

[code]

[2019-01-10 16:47] #126 closed

[2019-01-16 11:52] szuend opened #131 "Consider adding ToC for larger documentation entries"
I was just browsing the Torque user manual and thought a table of contents or something similar would be nice for larger articles. Especially for articles like the torque user manual, where readers might only be interested in one specific section.

[2019-01-17 15:58] curiousleo opened #133 ""V8 Design Elements" doc missing"
https://v8.dev/docs/embed#advanced-guide (source: https://github.com/v8/v8.dev/blob/master/src/docs/embed.md) contains a link to https://v8.dev/docs/design-elements with the link text "V8 Design Elements". There is no page there (it's a 404).

The [relevant wiki page](https://github.com/v8/v8/wiki/Design-Elements) says the page has moved to https://v8.dev/ but I couldn't find anything on v8.dev th

[2019-01-21 14:10] mathiasbynens commented on #133
The Design Elements doc was heavily outdated, and has been removed. Would you be willing to submit a patch removing the link from `embed.md`?

[2019-01-21 22:05] #133 closed

[2019-01-21 22:48] mathiasbynens commented on #131
I started looking into this, and then hit https://github.com/Oktavilla/markdown-it-table-of-contents/issues/38. Luckily, we can work around it, but it’s feels dirty.

WIP branch: https://github.com/v8/v8.dev/compare/toc?expand=1 (We still need to tweak the output HTML and add some styling.)

[2019-01-22 22:14] DrewML opened #136 "Width on code blocks"
Thank y'all for the v8 site - it's fantastic!

## Example Page
https://v8.dev/docs/build

## Screenshot
![image](https://user-images.githubusercontent.com/5233399/51568926-8b0ba280-1e60-11e9-835d-4b5a68fca293.png)

## Problem
The code blocks stretch out a bit too far on the right. These declarations are responsible:

[code]

Dropping the declaration(s) fixes the width.

## After Screenshot
![image

[2019-01-28 17:01] mathiasbynens commented on #136
Thanks for bringing this up!

Unfortunately, we can’t just drop those CSS declarations, since the goal is for code blocks to be full-width. [Example](https://v8.dev/blog/spread-elements#spread-elements):

![](https://user-images.githubusercontent.com/81942/51852348-2b3f4c80-22e3-11e9-863a-d77e28a68d96.png)

The problem with the code blocks you highlighted is that they occur within indented lists,

[2019-01-29 17:33] mathiasbynens commented on #60
Ideally, we’d create a written version of each presentation and publish it on our blog. The subset of presentations for which we’ve done so recently can be found here: https://v8.dev/blog/tags/presentations

[2019-01-30 10:47] natorion commented on #60
Can we also have a link collection?

Some content we should put on there:

JS caching: https://www.youtube.com/watch?v=YqHOUy2rYZ8
There is also a post on the blog about this, but it is not tagged as presentations: https://v8.dev/blog/improved-code-caching

[2019-01-30 17:25] mathiasbynens commented on #60
We already have an (internal) list of our talks (go/v8-presos).

[2019-01-31 10:54] xtuc opened #139 "Docs on Blink layout tests seems outdated"
https://v8.dev/docs/blink-layout-tests

I'm having troubles with the third point (rebaselining the tests in Chromium), if you try to commit `[ NeedsRebaseline ]` it will fail during presubmit checks (as you can see [here](https://logs.chromium.org/logs/chromium/buildbucket/cr-buildbucket.appspot.com/8922883557741052336/+/steps/presubmit/0/stdout)).

Another document exists with a manual way to do

[2019-01-31 12:39] MayaLekova commented on #139
Hey Sven, thanks for pointing this out! As you said, it would be really nice to post results here, to ensure that this new link describes a sound procedure. Then we'll update it in the docs.

[2019-02-04 09:53] xtuc commented on #139
`NeedsRebaseline` or `Rebaseline` are invalid assertions, I ran into it both during the presubmit or while trying to rebaseline manually (`tools/run_web_tests.py`). I could find those indications in the Chromium documentation. The list of token is available [here](https://chromium.googlesource.com/chromium/src.git/+/master/third_party/blink/tools/blinkpy/web_tests/models/test_expectations.py#312).

[2019-02-04 11:03] mathiasbynens commented on #139
https://bugs.chromium.org/p/chromium/issues/detail?id=735176 seems relevant:

[2019-02-04 12:36] xtuc commented on #139
Also an example CL would be very helpfull, just to make sure the change make sense.

[2019-02-06 08:43] MayaLekova commented on #139
@xtuc Please check whether my last commit reflects the experience that you had. Once your CL in Chromium lands, I'd be happy to also link it in the docs as an example, that's a great idea!

Re:

AFAIK, the automatic updating of the TestExpectations file will work only when you make changes in Chromium itself, not in V8, because we can't synchronize rolling V8 into Chromium with this update. That's

[2019-02-06 17:54] xtuc commented on #139
Ah! that make sense.

[2019-02-06 17:58] xtuc commented on #139
Thanks for the changes @MayaLekova, I commented on your commit.

[2019-02-12 15:02] MayaLekova commented on #139
Thanks, @xtuc! Applied your comments to the text, sorry for the delay.

[2019-03-01 10:16] mathiasbynens commented on #139
Closing per #146.

[2019-03-01 10:16] #139 closed

[2019-05-16 06:40] gengjiawen commented on #113
That will be really helpful. I am still not a clue what `Smi` is.

[2019-05-16 15:33] mathiasbynens opened #175 "Dedupe Node.js integration docs"
Currently, we have:

- https://v8.dev/docs/node-integration
- https://v8.dev/docs/node-next-generation

This split was fine during the transition period, but nowadays the former is not useful anymore, and it’s superseded by the former. We should:

- [ ] move the contents of `/docs/node-next-generation` to `/docs/node-integration`
- [ ] [set up a `301` redirect](https://github.com/v8/v8.dev/blob/d6

[2019-05-18 15:17] mathiasbynens opened #182 "Fix syntax highlighting for numeric separators"
Screenshot from <https://v8.dev/blog/v8-release-75#numeric-separators>:

![](https://user-images.githubusercontent.com/81942/57871547-eed72400-77df-11e9-9ccd-cde8ce4b32f8.png)

- Upstream issue: https://github.com/PrismJS/prism/issues/1893
- Upstream patch by @RunDevelopment: https://github.com/PrismJS/prism/pull/1895

[2019-05-18 16:04] mathiasbynens commented on #182
The upstream patch has landed! Once a new `prismjs` version is published to npm, we can update our dependency and close this issue.

[2019-05-19 16:37] #182 closed

[2019-06-07 15:07] mathiasbynens commented on #175
Closed by #181.

[2019-06-07 15:07] #175 closed

[2019-06-07 15:37] mathiasbynens opened #192 "Import remaining WebFu content"
- [ ] https://developers.google.com/web/updates/2017/07/upcoming-regexp-features by @schuay and @hashseed
- [ ] https://developers.google.com/web/fundamentals/primers/async-functions by @jakearchibald
- [ ] https://developers.google.com/web/fundamentals/primers/promises by @jakearchibald

[2019-06-13 08:11] tomayac commented on #136
It seems like adding a new rule to deal with this case fixes this:

[code]

The idea being to just add one offset instead of the usual case where you add two. I have pulled out the second code block off the list to show both behaviors:

![Screen Shot 2019-06-13 at 10 08 51](https://user-images.githubusercontent.com/145676/59415296-799d4580-8dc3-11e9-915f-114abbc7281a.png)

[2019-06-13 08:58] tomayac commented on #136
(Deleted my initial post as I misunderstood the requirement)

[code]

The second code block has been artificially moved out of the `<ol>` to show the desired effect.

![Screen Shot 2019-06-13 at 10 56 48](https://user-images.githubusercontent.com/145676/59418811-f9c6a980-8dc9-11e9-802a-50382698aaa3.png)

[2019-06-13 09:05] #136 closed

[2019-06-13 09:25] mathiasbynens commented on #59
@FrankYFTang, could you please take a look?

[2019-06-14 07:22] mathiasbynens commented on #136
Follow-up patch: 0e99f1e4fd0123d0475684ea5054de6d85abb732

[2019-06-17 09:53] #85 closed

[2019-06-23 14:37] catastrop opened #199 "question: why doesn't Javascript have optional static typing ?"
tc39 is adding new things to JS. But why not optional static typing ?

If they do it, we don't have to use Typescript anymore and being able to pass type information to the engine.

We will have less dev dependency.

[2019-06-23 14:45] jakobkummerow commented on #199
This is the wrong bug tracker to discuss what TC39 does or doesn't do. Consider asking on the es-discuss mailing list.

That said, from an engine's point of view, the short answer is: the "types" in TypeScript are useful for developer productivity, but not useful for engine performance, so we have no particular incentive to drive such an initiative.

[2019-06-23 14:45] #199 closed

[2019-06-30 15:23] myshov opened #203 "Translation v8.dev into different languages"
Hello!

First of all, thank you for your work on this precious resource.

I have a proposal. It would be cool to see translation of articles in the blog into different languages. What do you think?

I think the community will help with translation (for example I can help with translation to Russian). In the code itself we need to add some changes to static site generator and add button for changin

[2019-07-01 00:30] justjavac commented on #203
I can help with translation to Chinese

[2019-07-02 06:51] mathiasbynens commented on #203
Thanks for the suggestion, and thank you for offering to help with translations! <3

Some concerns that we'd need to address before we do this:

The main concern I have is about the translations becoming out of date with the English version. How do we deal with updating content?

[2019-07-02 07:42] myshov commented on #203
The first thing that comes to mind is a new issue in repo. Already translated articles, that needs to be updated, could be marked as outdated before updating of translation, it will help readers to see actual status of translation.

[2019-07-11 18:28] SamB commented on #121
This could indeed be quite useful, at least assuming that the tools are backward-compatible.

For instance, the instructions at https://v8.dev/docs/profile might easily be usable with node *without* a v8 checkout, if only it could link to live copies of profvis/profview.

[2019-07-26 06:56] mathiasbynens opened #212 "Automate feature support data updates"
For [the feature support listings](https://v8.dev/features/support) on [v8.dev/features](https://v8.dev/features), we started small and shipped a manually maintained version. The maintenance overhead is acceptable, since once a feature ships in any one environment, we can update our feature support listing, and then we (generally) never have to update that specific feature+environment entry again.

[2019-08-12 09:45] mathiasbynens opened #218 "Add Ingvar’s avatar"
This seems like a Good First Bug for a new team member ;)

[2019-08-13 11:59] mathiasbynens commented on #64
Thanks everyone for your feedback on this issue. We don't currently plan on adding search functionality to v8.dev. Closing this issue for now.

[2019-08-13 11:59] #64 closed

[2019-08-13 12:00] mathiasbynens commented on #25
Closing since https://v8.dev/docs/torque now exists.

[2019-08-13 12:00] #25 closed

[2019-08-14 09:23] mathiasbynens opened #224 "Add automated checks for src/_img/avatars/*"
All images in `src/_img/avatars/*` follow certain conventions:

- JPEG format
- the `@2x` version is named `first-last@2x.jpg` and must be exactly 192×192px
- the `@1x` version is named `first-last.jpg` and must be exactly 96×96px
- all images must be optimized i.e. below a certain file size threshold (10 kB?)
    - I tend to use [Squoosh](https://squoosh.app) with MozJPEG @ quality=75, and then r

[2019-08-14 14:14] #218 closed

[2019-08-26 08:50] mathiasbynens opened #231 "Update `intrinsicsize` usage"
Per @tomayac's [tweet](https://twitter.com/tomayac/status/1165902659083280384), our current `intrinsicsize` should be changed to simple `width`/`height` attributes.

[2019-08-26 09:41] mathiasbynens commented on #231
Note that there's a difference compared to `intrinsicsize` values:

[Source](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/SafariImageDeliveryBestPractices/ServingImagestoRetinaDisplays/ServingImagestoRetinaDisplays.html#//apple_ref/doc/uid/TP40012449-CH3-SW1)

[2019-08-26 12:46] #231 closed

[2019-08-26 16:20] mathiasbynens opened #233 "Add lint check ensuring that new files have a `description` field"
E.g. https://raw.githubusercontent.com/v8/v8.dev/master/src/blog/array-sort.md has:

<pre>---
title: 'Getting things sorted in V8'
author: 'Simon Zünd ([@nimODota](https://twitter.com/nimODota)), consistent comparator'
avatars:
  - simon-zuend
date: 2018-09-28 11:20:37
tags:
  - ECMAScript
  - internals
<b>description: 'Starting with V8 v7.0 / Chrome 70, Array.prototype.sort is stable.'</b>
tweet:

[2019-08-26 17:12] mathiasbynens commented on #233
Files that are currently missing a `description`:

[code]

[2019-08-27 11:56] mathiasbynens commented on #233
Updated list:

[code]

[2019-08-27 12:42] mathiasbynens commented on #233
Updated list:

[code]

[2019-08-27 20:19] devsnek opened #234 "V8 API documentation"
For a long time, https://v8.paulfryzel.com/docs/master was the place to go for up-to-date documentation on V8's public (and private) API surface. Unfortunately, this incredible resource is no longer maintained. v8.dev seems like an excellent place to host an official version of doxygen, although I don't know exactly how one would go about wiring that up. Perhaps a github action on https://github.c

[2019-08-29 08:18] mathiasbynens commented on #234
PTAL @ulan @natorion

[2019-08-29 08:34] ulan commented on #234
I am not the right owner for this. Add people who might be interested @hashseed @mi-ac

[2019-08-29 09:11] natorion commented on #234
This sounds reasonable, if we can fully automate it with low effort. @tmrts any clue how involved this might be?

@hannespayer might be interested in this too.

[2019-09-05 13:35] mathiasbynens commented on #212
cc @RReverser

[2019-09-06 21:28] jonathanmarvens opened #240 "Website down?"
Unfortunately, [v8.dev](https://v8.dev) has been down for _at least_ a week now. Are y’all aware of this?

Thank you.

[2019-09-06 21:29] dtig commented on #240
Just checked now, looks like it's working for me.

[2019-09-06 21:34] jonathanmarvens commented on #240
@dtig Thank you. I’m guessing that the server might be dropping my requests since I use a *VPN*? All of this time, I just assumed it was down for everyone 😕

[2019-09-06 21:44] dtig commented on #240
No problem, closing this issue as the website seems to be up and running. Hope you are able to figure out why your requests are getting dropped!

[2019-09-06 21:44] #240 closed

[2019-09-06 22:03] jonathanmarvens commented on #240
@dtig This is an issue with the website’s configuration though; my network is fine. When I try [v8.dev](https://v8.dev) from my tablet without VPN, it works, but on my laptop with VPN, all of my requests are dropped. Barring disabling my VPN (which is a non-option for me on my laptop, unfortunately), there’s nothing that I can do on my end. Is there a policy against VPN users? If not, can y’all up

[2019-09-07 16:24] jonathanmarvens opened #241 "Website firewall issue follow-up."
This is a follow-up to #240 which was closed by @dtig, but the issue isn’t resolved, so I don’t feel that it should be closed. This issue is, unfortunately, making it harder for me to do some work that I’m doing with __V8__.

As I mentioned in #240:

Thank you.

[2019-09-09 16:09] dtig commented on #241
Sorry for closing prematurely, I closed after verifying that this does work on my laptop with VPN and without. Doesn't look like there's a policy against VPN users.

[2019-09-10 08:12] mathiasbynens commented on #241
This is likely not a problem with v8.dev itself, but rather with your local settings or VPN (outside of our control).

Unfortunately it used to be common to route `*.dev` domains to `localhost`, even though `.dev` was never a Reserved Top-Level DNS Name as defined by RFC 2606.

Can you successfully visit any `.dev` domain? Examples:

- https://web.dev/
- https://get.dev/
- https://lodash.dev/

If

[2019-09-10 08:13] mathiasbynens commented on #212
Per https://twitter.com/floscholz/status/1171147561098518530, MDN might offer embeds soon. Still, we'd likely want to use the data directly at build time, and turn it into HTML, reducing the need for third-party HTTP requests.

[2019-09-13 07:14] mathiasbynens commented on #241
Thanks for following up on this, @jonathanmarvens! Your reply is definitely going to help others who run into similar issues.

[2019-09-13 11:53] mathiasbynens opened #245 "Improve src/_img/v8-lite/memory-categorization.svg"
Similar to #243, https://github.com/v8/v8.dev/blob/master/src/_img/v8-lite/memory-categorization.svg embeds PNG image data. Unlike #243 however, in this case the entire image should be representable as properly scalable SVG (as it’s just a chart).

[2019-09-13 11:53] mathiasbynens commented on #245
cc @RReverser @rmcilroy

[2019-09-13 15:10] #245 closed

[2019-10-01 13:14] mathiasbynens opened #252 "Add dark mode"
We should be able to do better than `html, img, h1 a, #footer { filter: invert(1); }` 👻

Ugly screenshot of the above:

![](https://user-images.githubusercontent.com/81942/65966463-6be9f980-e460-11e9-9cf4-1dd7ed2b454c.png)

[2019-10-01 13:35] mathiasbynens commented on #252
For guidance see https://web.dev/prefers-color-scheme/ by @tomayac.

[2019-10-01 14:47] mathiasbynens commented on #252
@tomayac wanted to tackle this one. I’m excited!

[2019-10-07 14:56] #252 closed

[2019-10-07 20:04] chicoxyzzy opened #258 "Table colors need some tuning in dark mode"
![image](https://user-images.githubusercontent.com/1507086/66344518-cac6db80-e956-11e9-94c2-9964ebf62027.png)

https://v8.dev/features/promise-combinators

[2019-10-08 08:30] mathiasbynens commented on #258
https://github.com/v8/v8.dev/blob/f49faf6b6fe03fa8c14c6211afeaf6605f4686e4/src/_css/main.css#L380-L382

[2019-10-08 12:41] RReverser opened #260 "Re-render twitter widget on color scheme change"
Currently, when changing color scheme via either system settings or the toggle, Twitter widget remains in its initial scheme and looks out of place.

[2019-10-09 20:22] #258 closed

[2019-10-09 20:23] mathiasbynens commented on #258
#### Light

![](https://user-images.githubusercontent.com/81942/66517400-ff63a000-eada-11e9-9d0a-f63e5ad2ac2e.png)

#### Dark

![](https://user-images.githubusercontent.com/81942/66517415-068aae00-eadb-11e9-92a0-b1afef2c66b9.png)

[2019-10-11 12:07] GottZ commented on #258
for some reason i think this should also happen:

`--table-border: var(--darkgray);`

[2019-10-11 13:42] mathiasbynens commented on #258
I actually tried it but I thought it looked worse in combination with the blue.

[2019-10-21 16:57] tomayac commented on #260
FYI, the `<dark-mode-toggle>` emits a [`colorschemechange`](https://github.com/GoogleChromeLabs/dark-mode-toggle#events) event that you can listen for and then re-trigger the Twitter widget insertion.

[2019-10-21 17:23] RReverser commented on #260
Yeah, it's the widget insertion that is tricky. Twitter replaces the original element, so one would need to either re-insert it from JS or rewrite widget integration to use their JS API.

[2019-10-21 17:33] tomayac commented on #260
I think for the moment removing and reinserting is the only way this works :-/

[2019-10-21 18:12] RReverser commented on #260
@tomayac Do you want to give it a shot?

[2019-10-21 18:15] tomayac commented on #260
Happy to, feel free to assign me.

[2019-10-25 09:04] #260 closed

[2019-10-25 09:22] tomayac opened #269 "Add Lighthouse size budget"
We want to control the size of our JavaScript, this is a meta issue to remind us to [set up Lighthouse](https://developers.google.com/web/tools/lighthouse/audits/budgets#setup) to track this for us, ideally [automatically via Travis](https://github.com/GoogleChromeLabs/lighthousebot).

[2019-10-27 13:45] declanbyrd opened #274 "Low or no contrast text colours"
While in dark mode, on the dynamic import documentation page some of the links are either difficult to read because the contrast is low, or in this case there are words with no contrast to the background.

![image](https://user-images.githubusercontent.com/24387679/67635346-d0f90980-f8bd-11e9-9318-f5ec4f3b5d0a.png)

Light theme for comparison:
![image](https://user-images.githubusercontent.com/243

[2019-10-30 02:45] thoamsy opened #275 "Why I can't add PWA to my phone in Safari 13"
I can add the V8 to my home page in the Mac, but I can't get a PWA page in my iPhone.

You can see the screenshot in the below, the icon is not **the v8 logo**:
![IMG_1520](https://user-images.githubusercontent.com/11444431/67824769-45bc8580-fb02-11e9-8541-aaaf332f7940.png)

I am not sure if it is caused by compatibility issues.

[2019-11-06 03:08] mathiasbynens commented on #274
Thanks for spotting and reporting this, @declanbyrd! A PR would be amazing.

Re: guidance, the general rule is to follow the style of the surrounding code (which in the case of CSS isn’t that much). Please let us know if there’s any specific questions you have. cc @tomayac @RReverser

[2019-11-06 13:15] tomayac opened #279 "CSS: Switch border-bottom for proper text-decoration (and text-decoration-skip-ink)"
Discussed in the context of https://github.com/v8/v8.dev/pull/278#discussion_r343086049.

[2019-11-06 13:21] #274 closed

[2019-11-06 13:23] mathiasbynens commented on #279
To clarify [my earlier comments](https://github.com/v8/v8.dev/pull/278#discussion_r343084953), there’s no technical reason I used `border` over anything else, but I do like the way the current styles look (as in, the “underline” is a few pixels away from the text). Can we achieve that with `text-decoration`?

I’m open to the change either way, just wondering how much of a visual impact it would ha

[2019-11-06 13:29] tomayac commented on #275
My suggestion would be to conditionally (based on UA sniffing) load @samthor's [PWACompat](https://github.com/GoogleChromeLabs/pwacompat).

[code]

The above line works like a charm:

![image](https://user-images.githubusercontent.com/145676/68302147-b8e56f00-00a1-11ea-8b47-100b155f87a2.png)

[2019-11-06 13:39] tomayac commented on #279
There's [`text-underline-offset`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset), but browser support isn't great at the moment. I don't see this as a blocker, though.

[2019-11-11 16:15] mathiasbynens opened #281 "Fix styling for wide headings on narrow viewports"
e.g. https://v8.dev/features/string-replaceall or https://v8.dev/features/symbol-description

![](https://user-images.githubusercontent.com/81942/68602299-f3148f00-045a-11ea-938e-8ffc7861f765.png)

(Reported via Twitter: https://twitter.com/saschaplas/status/1193918922682032128)

[2019-11-11 20:50] mathiasbynens opened #283 "Set up Lighthouse CI"
https://github.com/GoogleChrome/lighthouse-ci

[2019-11-12 04:10] mathiasbynens commented on #283
Ran into a few issues along the way:

- https://github.com/GoogleChrome/lighthouse-ci/issues/62
- https://github.com/GoogleChrome/lighthouse-ci/issues/63

[2019-11-12 05:42] mathiasbynens opened #285 "Set up travis-size-report / compressed-size-action"
https://github.com/GoogleChromeLabs/travis-size-report

[2019-11-24 19:50] Kiwka opened #293 "adding search for blog entries"
It would be wonderful if there will be a possibility to search in the blog using search on the website.

[2019-11-27 13:22] mathiasbynens commented on #293
#64

[2019-11-27 19:59] mathiasbynens commented on #234
ping @tmrts

[2019-12-10 09:10] mathiasbynens opened #297 "Add maskable PWA icons"
Our current PWA icons are not maskable-friendly:

![](https://user-images.githubusercontent.com/81942/70515100-0c315e00-1b35-11ea-9de4-fac01fc6730e.png)

We should make maskable versions of the icons (i.e., the entire logo should be visible in the above UI) and then mark them as such in the manifest.

[2019-12-11 09:23] mathiasbynens commented on #297
https://maskable.app/editor by @NotWoods could be useful here!

[2019-12-13 08:49] #297 closed

[2019-12-13 08:51] mathiasbynens commented on #297
Ahhh… much better.

![](https://user-images.githubusercontent.com/81942/70787033-2ade6180-1d8e-11ea-81d1-bf8b6710927f.png)

[2019-12-17 16:38] mathiasbynens opened #304 "Styling issue with code blocks within a note"
![image](https://user-images.githubusercontent.com/81942/71015493-f9e68f80-20f3-11ea-95f3-2cd7a7377df0.png)

cc @tomayac since this reminds me of the similar issues he fixed with nested code blocks

[2019-12-17 16:44] tomayac commented on #304
Can repro, but on mobile at the moment. Pleased to assign me, I am happy to have a look tomorrow.

[2019-12-18 10:02] tomayac opened #307 "Page can't be zoomed 😕"

[2019-12-18 10:41] #307 closed

[2019-12-18 10:56] #304 closed

[2019-12-19 07:53] mathiasbynens opened #312 "Tweets SVG positioning is still off in Firefox"
https://v8.dev/blog/v8-release-80 on Firefox 71:

![](https://user-images.githubusercontent.com/81942/71154925-f579be00-223c-11ea-9f92-d8546f1c6354.png)

Perhaps CSS `@supports` is the answer here?

[2019-12-19 07:54] mathiasbynens commented on #312
cc @LeszekSwirski @RReverser

[2019-12-19 08:07] mathiasbynens opened #313 "“release” tag not clickable due to tweets overlay"
https://v8.dev/blog/v8-release-80

![](https://user-images.githubusercontent.com/81942/71155815-dda33980-223e-11ea-9eb4-cd509c07cdd9.png)

[2019-12-19 08:47] #312 closed

[2019-12-19 08:48] #313 closed

[2020-01-16 07:41] gengjiawen commented on #113
Also add `torque`.

[2020-01-30 10:05] mathiasbynens commented on #285
@developit built a thing that's like `travis-size-report` with a GitHub auto-commenting bot, and we should use it here!

[2020-01-31 14:46] tomayac opened #325 "Automatically add video dimensions"
Let's [automate](https://www.npmjs.com/package/get-video-dimensions) that, similar to [`add-image-dimensions.js`](https://github.com/v8/v8.dev/blob/master/add-image-dimensions.js).

[2020-01-31 14:51] tomayac commented on #325
I am working on this.

[2020-01-31 22:18] #325 closed

[2020-02-19 07:29] mathiasbynens commented on #285
https://github.com/marketplace/actions/compressed-size-action

[2020-02-26 17:37] tophf opened #335 "FOUC with the dark theme on first page load or refresh"
A dark theme that always flashes a white frame on first page load or refresh isn't really working and I would even recommend disabling it until this is fixed, provided you don't want to blind your users.

![image](https://user-images.githubusercontent.com/1310400/75369770-1c0b4380-58d5-11ea-9538-26b594f455d9.png)

![image](https://user-images.githubusercontent.com/1310400/75370068-9cca3f80-58d5-11

[2020-03-05 11:13] mathiasbynens opened #339 "Revisit `extras` folder"
https://v8.dev/blog/understanding-ecmascript-part-2 points to some extra content, currently at https://v8.dev/blog/extras/understanding-ecmascript-part-2-extra.

This breaks our URL design. The above implies the existence of `https://v8.dev/blog/extras` but that 404s, and it doesn’t really make sense to create it.

We should move the extra content to a separate section in the main blog post, and [

[2020-03-05 12:42] tomayac commented on #335
We initially had this, but decided to keep the CSS in one file. We can reconsider this decision, however, also the situation should improve now that `color-scheme` has landed as a [meta tag](https://chromestatus.com/feature/5330651267989504) and as a [CSS property](https://www.chromestatus.com/feature/6070987093180416). I’m currently out of office, but will have a look upon my return.

[2020-03-05 12:53] tophf commented on #335
Some other Google's apps like gmail, chromium-review.googlesource.com also have a long white frame at page load when a dark theme is configured in their settings. Every time I encounter it I can't but think that their developers have never used a dark theme in the past 15 years. Anyone who did use it (`Stylish` extension exists since 2005) knows it's absolutely crucial that there's no FOUC or whit

[2020-03-05 16:24] RReverser commented on #281
Reopening to track issue on iOS Safari: https://twitter.com/tomayac/status/1234565673277370368

[2020-03-12 17:36] #281 closed

[2020-03-21 11:34] ackava opened #346 "Instructions Android build for ARM Processor"
Instructions of Android Build for ARM Processor are missing.

As per this page,
[code]

Gives error,
"error adding symbols: File in wrong format" , (Relocations in generic ELF)

[2020-03-24 15:41] mathiasbynens commented on #121
This is now being worked on over at https://github.com/v8/tools. Once things have settled here we can add a `/tools` page to v8.dev with links to the latest online versions.

[2020-03-30 16:36] kripken opened #350 "Duplicate text in Pointer Compression post?"
Just above [this link](https://v8.dev/blog/pointer-compression#compressed-tagged-values-and-new-heap-layout) this text appears. Maybe only one of the two paragraphs is needed?

cc @santiaboy @RReverser

[2020-03-30 16:42] santiaboy commented on #350
Nice catch. Fixing it now.

On Mon, Mar 30, 2020, 17:36 Alon Zakai <notifications@github.com> wrote:

[2020-03-30 16:50] RReverser commented on #350
Fixed on master.

[2020-03-30 16:50] #350 closed

[2020-03-30 17:38] tophf commented on #335
The site is still trying to blind people so I ended up copying its dark theme into [Stylus](https://github.com/openstyles/stylus). Posting it here for anyone who stumbles on this issue.

[code]
The last block is my customization to reduce the unconventionally bright text color to the commonly used levels.

[2020-03-30 18:13] tomayac commented on #335
Rest assured: this is still on my radar. Please bare with the issue a little more.

[2020-04-02 11:39] RReverser opened #361 "Add typography automation and/or docs"
We use smart quotes, ellipsis and other extended Unicode characters for punctuation in posts.

These should be automated via markdown-it's `typographer` option and, perhaps, a script that would update sources as well.

[2020-04-02 11:41] RReverser opened #362 "Automate and/or document language-grammar"
We have a special style for grammar excerpts - a `language-grammar` class - that needs to be used manually in `<pre><code class="language-grammar">...</code></pre>` blocks.

It should be either documented somewhere, or, ideally, we should add a custom highlighter that would support and convert ```` ```language-grammar ```` blocks automatically.

[2020-04-02 12:42] RReverser opened #363 "Document and possibly update guidelines for graphs"
Sounds like we might want to update default colors for graphs (cc @tabatkins): https://twitter.com/tabatkins/status/1244695274338971649

We already have some templates for standard colors across the blog (cc @mathiasbynens), but it could be useful to document and update them explicitly in the repo.

Not sure if there is something we could do about existing graphs - is it possible to due color-shif

[2020-04-02 12:48] mathiasbynens commented on #363
I think the graphs that use our standard colors (i.e. the ones we make in Google Sheets) are fine; Tab is talking about the screenshots from chromeperf, e.g. <https://v8.dev/blog/pointer-compression#initial-performance>. Yep, that's bad. Ideally we'd take the chromeperf data and turn it into a proper SVG using our standard colors.

I'd prefer not going this route. We should either fix the source i

[2020-04-02 13:04] RReverser commented on #363
Ah, I see, I thought it was about our regular graphs. This certainly reduces the scope of changes then.

[2020-04-02 13:10] tomayac commented on #363
For the [image](https://v8.dev/_img/pointer-compression/perf-octane-2.svg) on [v8.dev/blog/pointer-compression](https://v8.dev/blog/pointer-compression) specifically, tweaking the `hue-rotate` fixes it:

[code]

This should, however, indeed be fixed at the source.

[2020-04-02 13:13] tomayac commented on #363
Quick drive-by PR to fix [/_img/pointer-compression/perf-octane-1.svg](https://v8.dev/_img/pointer-compression/perf-octane-1.svg) is up for merging: https://github.com/v8/v8.dev/pull/364

[2020-04-02 15:46] tabatkins commented on #363
The important bit is just that the lines aren't differentiated purely by hue (my red-green colorblindness is one possibility, but there are others), but also by lightness and/or pattern.

(And note that hsl's notion of lightness is a nonsense number that means nothing; it considers full blue and full yellow to have equal lightness, despite those actually being *extremely* far apart. You want the l

[2020-04-02 15:52] tomayac commented on #363
Happy it works. As a normally sighted developer, I tested my hack with @mathiasbynens' cool new DevTools feature B-) But again, you want to fix this on the source… Using pattern and color differences per line is IMHO the way to go.

[2020-04-02 16:14] RReverser commented on #363
@mathiasbynens Would it make more sense / be possible to raise this upstream with chromeperf instead? I imagine Chrome might similarly have colorblind contributors who would appreciate more distinguishable graphs.

[2020-04-03 12:45] RReverser opened #368 "Add a check to make sure we don't allow inline images"
This is usually an accident, and results in a different styling than we want.

[2020-04-03 12:55] planglois commented on #346
Hi @ackava !

Just to double check, on step 4:

[code]
Is this running on your x64 host using the default `g++`? If so, it should only be able to target x86 code, do you need to use a cross-compiler instead? Off the top of my head, I think for android it should be something like `arm-linux-androideabi-g++`.

[2020-04-03 16:59] RReverser opened #370 "Explicit image dimensions are ignored and result in significant layout jumps"
Currently, we set (or, now, generate) explicit `width` and `height` on all images, presumably to avoid layout jumps.

However, these dimensions are getting completely ignored and overridden by https://github.com/v8/v8.dev/blob/cf7598164fdc7a881f93f4a6f058ac95bb5a110e/src/_css/main.css#L412-L416 and result in different sizes once image is loaded.

This results in a significant amount of layout jump

[2020-04-03 17:11] #368 closed

[2020-04-03 17:20] RReverser commented on #370
Looks like simply removing `height: auto` fixes the problem, but not 100% sure if there are any unwanted side-effects from doing that?

[2020-04-03 17:34] tomayac commented on #370
Please don’t remove [this](https://github.com/v8/v8.dev/blob/cf7598164fdc7a881f93f4a6f058ac95bb5a110e/src/_css/main.css#L412-L416). See https://youtu.be/4-d_SoCHeWE for why it’s there. All browsers have agreed to put the aspect ratio in the UA stylesheet. It’s gonna be good.

[2020-04-03 20:40] bnb opened #371 "Add Open Graph / Twitter Card metadata"
It would be genuinely wonderful to see Open Graph / Twitter Card metadata added to the site so links are more prettily embedded when shared on social platforms, including the V8 Twitter account.

[2020-04-03 20:42] bnb commented on #371
References:
- https://ogp.me/
- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards

[2020-04-03 20:56] RReverser commented on #371
Great idea!

I suppose one obvious candidate for such metadata is `description` field we already include on posts and could reuse. What else?

Should we e.g. include V8 logo as the primary image on any previews, or use first image from the post?

[2020-04-03 20:57] RReverser commented on #346
Was this fixed by https://github.com/v8/v8.dev/pull/365?

[2020-04-03 21:14] bnb commented on #371
Since not every post has an image (see: https://v8.dev/blog/understanding-ecmascript-part-1 for an example), I'd go with a simple logo. I'm not sure if y'all use frontmatter for posts, but perhaps optionally allow authors to set an image with a URL 👍

[2020-04-03 21:43] RReverser commented on #371
Hmm on another hand, the Twitter guideline says:

Not sure if using a logo is better than nothing in this case.

[2020-04-03 22:02] bnb commented on #371
In the case of logo or nothing, it theoretically should be over a bare URL. While they give that advice, it is the common practice.

For example, tweet this issue and you'll see the org's avatar or my avatar since there's no actual image for the page. Twitter even does it with any authors' page ([example](https://blog.twitter.com/en_us/authors.sbadalich.html)) on their blog:

![image](https://user

[2020-04-03 22:05] bnb commented on #371
One thing I will add: I would do a summary card for the logo by default, rather than the Summary With Large Image like Twitter does in the above.

Here's the docs for that: https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary

An example of Node.js's use of this:
<details>
<img src="https://user-images.githubusercontent.com/502396/78408633-a9793c00-75d5-11ea-917f-4ef20

[2020-04-03 22:07] RReverser commented on #371
Yeah large image would definitely be messy in this case; it's something that really annoys me about Github when I'm posting issues in chats etc. and everyone sees a huge version of my avatar.

Summary card with a logo sounds reasonable assuming they won't ban us over violating the guidelines or something.

Would you want to make a PR?

[2020-04-06 09:16] tomayac commented on #370
It seems to be working perfectly fine today. There's no content jump at all:

<img width="488" alt="Screen Shot 2020-04-06 at 11 00 36" src="https://user-images.githubusercontent.com/145676/78541437-ea4f9b80-77f5-11ea-8e0e-6d53353ea355.png">

<img width="468" alt="Screen Shot 2020-04-06 at 11 00 42" src="https://user-images.githubusercontent.com/145676/78541460-eface600-77f5-11ea-92fe-215b49c62db6

[2020-04-06 09:24] mathiasbynens commented on #370
@RReverser Not sure if this context was clear, so I'll say it just in case: the `height: auto` is needed for the case where an image gets downsized on a narrow viewport.

[2020-04-06 11:29] RReverser commented on #370
@mathiasbynens That seems to be doing the opposite, as far as I can tell - if you look at e.g. the 4th image, its specified dimensions are `<img width="827" height="363" ... />`.

With `height: auto` it's currently downsized to `764x764` before image is loaded, and to `764x336` when it's loaded; however, when I comment out `height: auto`, then it's getting downsized with correct aspect-ratio to `7

[2020-04-06 11:32] RReverser commented on #370
@tomayac You're looking at the first image, which, as you can see from the calculated image in issue description, is correct right away anyway. This is because that image is getting preloaded right away, because it's in the viewport, so it's much harder to catch the point where it has incorrect dimensions.

It's images outside the initial viewport (which, correspondingly, aren't visible on screens

[2020-04-06 11:44] RReverser commented on #370
It's really not, and that's the point of the issue report :( If we recommend if officially, then it's either a bug in Chrome that needs to be fixed, or we need to change our recommendation.

[2020-04-06 13:54] #362 closed

[2020-04-06 13:58] RReverser commented on #370
Nvm, removing `height: auto` causes issue *after* image is loaded instead.

Would still appreciate suggestions for a proper fix from someone who knows more.

[2020-04-06 14:11] mathiasbynens commented on #371
I really like @tomayac's solution on his personal blog: screenshot each page with Puppeteer and use that as the summary card image.

[2020-04-06 14:35] tomayac commented on #371
- The [script](https://github.com/tomayac/blogccasion/blob/master/_11ty/createScreenshots.js) in question.
- The npm [run script](https://github.com/tomayac/blogccasion/blob/ba01e46786e3fcfcec189e8fd4ca9d351066a89d/package.json#L14).

My biggest pain point is that the screenshotting is serial. I re-create them upon each deploy, which is not the smartest strategy, but also I couldn't be bothered to

[2020-04-07 09:14] planglois commented on #346
Oh no, that PR was only updating `debug-arm.md`. I'm not familiar with embedding V8 in an Android app, I'm not sure I can help much here :-/.

[2020-04-07 18:55] RReverser opened #378 "List numbers overflow on mobile devices"
Looks like once we hit 100 posts, we started overflowing list item numbers for blog posts on mobile viewports, so they end up getting truncated.

Screenshot from DevTools emulation of Pixel 2:
<img src="https://user-images.githubusercontent.com/557590/78707954-41926080-7909-11ea-879a-6b988bc049a6.png" width="50%">

iPhone 5 / SE:
<img src="https://user-images.githubusercontent.com/557590/78708003-

[2020-04-13 05:49] AleksanderBodurri opened #382 "Memory Management link SSL certificates expired"
A few links to https://www.memorymanagement.org/ exist in the 'Getting garbage collection for free' blog post.

It seems the memory management website has expired SSL certificates. Not sure if this is fixable on your end but I thought you should know.

[2020-04-27 18:29] bnb commented on #371
I would be happy to submit a PR for the summary card if that's welcome - I'm not sure I could correctly implement the page screenshots, though that's a super cool idea and I fully support it if someone's willing to set it up! ❤️

[2020-04-27 18:40] RReverser commented on #371
I think summary card would be a good start for now. Please do, especially if it doesn't take much time!
We can always upgrade to screenshots later.

[2020-04-27 20:43] tomayac commented on #371
For some inspiration see https://github.com/tomayac/blogccasion/blob/7119f3dcc460ab2aa03ea201f8815196951a59f5/_includes/layouts/base.njk#L83-L130 for the structured data and https://github.com/tomayac/blogccasion/blob/7119f3dcc460ab2aa03ea201f8815196951a59f5/.eleventy.js#L30-L33 for minification.

[2020-04-28 06:29] mathiasbynens commented on #371
I don't think we need _that_ many tags; let's start [simple](https://css-tricks.com/essential-meta-tags-social-media/#article-header-id-2).

@tomayac Note that you can combine some of your tags into one, by doing e.g.:

[code]

Then again you don't even need this tag if you're fine with just using the `<title>`.

[2020-04-28 11:22] tomayac commented on #371
Yeah, I'm definitely erring on the over-serving structured data markup side. It was purely meant as an inspiration to cherrypick the things we want.

[2020-04-28 11:34] RReverser commented on #371
Yeah I'd start with `description` + `image` (V8 logo) + canonical URL. We can add more things later as necessary, but I think this would be enough for the start.

[2020-04-30 06:27] mathiasbynens opened #394 "Update all <feature-support> for Node.js v14"
Go through all `<feature-support>` in the `features` section base that don't already have Node.js support marked.

If the feature shipped between V8 v7.5 (Node.js v12) and v8.1 (Node.js v14) then it's most likely available in Node.js v14. Verify this and update the support entry if applicable. We can use `https://nodejs.org/en/blog/release/v14.0.0/` as the reference link.

[2020-05-13 07:09] #59 closed

[2020-05-27 09:03] LeszekSwirski commented on #234
I've created https://v8.github.io/api/head/ for this, manually updated for now but we can automate it at some point.

[2020-05-28 03:22] #234 closed

[2020-05-28 10:06] bertolo1988 opened #413 "Node 8 - CALL_AND_RETRY_LAST Allocation failed exits with 0"
[code]

I was able to reproduce both on trusty (travis.ci) and locally on Catalina.
This should not exit with code 0.

[2020-05-30 11:04] ackava opened #414 "iOS Build is failing"
Build fails after following instructions on https://v8.dev/docs/cross-compile-ios,

[code]

Is there any option to ignore this warning?

[2020-06-02 11:22] #275 closed

[2020-06-28 17:59] yozaam commented on #378
Hello! I am a newcomer but i really want to fix this, I have identified the problem and will sign the CLA if required, thank you so much:

The "1" of "100" etc is going outside the viewport,
It happens above 200% zooom on desktop / on mobiles < max-width:770px

I will make a small change in main.css and give the offset a slightly greater value such as
--offset: 12px; in [this line for screens less

[2020-07-01 09:00] DeekshaGunjal opened #434 "V8 crash on Android 32-bit device"
I had built v8 for Android following the documentation : https://v8.dev/docs/cross-compile-arm

I specifically needed the v8_monolith.a archive library to use in an ongoing android project. Also, I needed to build it with NDK version 21, which is not the one that we get in //third_party/android_ndk directory of v8 . So i downloaded the NDKr21 and copied the NDK folder to //third_party/android_ndk

[2020-07-01 15:07] CyberSaxosTiGER opened #435 "A syntax error in "V8 release v8.4""
I think there is a syntax error in "V8 release v8.4" line 96

[code]
I think we should change single quote with double quote
[code]

[2020-07-01 15:11] LeszekSwirski commented on #435
This is actually Google JavaScript code style: https://google.github.io/styleguide/jsguide.html#features-strings-use-single-quotes

[2020-07-01 15:13] CyberSaxosTiGER commented on #435
I does not meant that.
the single quote of `I'm` is colliding with console.log's single quote

[2020-07-01 15:16] LeszekSwirski commented on #435
Ah whoops, my mistake, good catch in that case!

[2020-07-01 15:18] #435 closed

[2020-07-29 14:53] RReverser commented on #378
@tomayac Could you please help out with review - there are two open PRs (#396 and #430) that fix this issue in different ways, but I don't know enough to tell which one is better.

[2020-07-29 14:54] RReverser opened #456 "Auto-add table-wrapper via custom Markdown rendering"
I've seen @mathiasbynens's suggestion that table-wrapper should be added to all (?) tables. If that's correct, we probably want to automate this via custom Markdown plugin, similarly to custom image render.

[2020-07-29 14:59] mathiasbynens commented on #456
Just to confirm: yes, it must be added to all tables. The wrapper is needed for narrow viewports. Thanks for taking a look!

[2020-07-30 14:30] RReverser commented on #378
Thanks @tomayac, I shall do that then.

[2020-07-30 14:31] #378 closed

[2020-08-10 17:33] #335 closed

[2020-08-26 13:29] mathiasbynens opened #460 "Support alternate image formats (e.g. AVIF)"
Now that Chrome ([and Squoosh!](https://github.com/GoogleChromeLabs/squoosh/pull/804)) support AVIF, it would be nice to be able to provide images in multiple formats and have that result in `<picture>` + `<source>` + `<img>`. Perhaps this can be done without any Markdown-level changes. For example, this existing syntax:

[code]

…could at build time check if `v8-lite.png` or `v8-lite.jpg` exist a

[2020-08-26 13:52] mathiasbynens commented on #460
(Note that we could also check for `.webp` but given that AVIF is better I don't think we'd want to bother.)

cc @RReverser since you recently awesome-ified `![]()`, and this seems like a next step.

[2020-08-26 20:45] jridgewell commented on #460
Shouldn't this be done at the server level, so we don't need to upload an ever increasing number of image formats? Just upload a single image of the highest quality, and let the content negotiation headers handle which image format to serve.

[2020-08-27 09:49] mathiasbynens commented on #460
Related: https://github.com/v8/v8.dev/pull/462 tackles this for the avatars (which are hardcoded in the HTML templates).

We currently use static Firebase hosting. For content negotiation, I imagine we’d need to start adding cloud functions — is that right? It’s certainly possible, but IMHO it seems simpler to start with manually supplying the images in all desired formats.

[2020-08-27 14:56] RReverser commented on #460
I'm once again tempted to suggest adding Cloudflare in front of v8.dev. Among other things, they have automatic WebP optimisation, and are working on AVIF too AFAIK.

[2020-09-02 18:00] indiescripter opened #464 "Webpage on v8.dev blog not rendering HTML"
At this blog URL https://v8.dev/blog/web-tooling-benchmark ,

Published 06 November 2017 · Tagged with benchmarks Node.js

Clicking on *Node.js* item to the right of *benchmarks* takes the browser to URL

https://v8.dev/blog/tags/node.js

which is HTML text but is being send to the browser by the origin server with `text/javascript` content-type.

Looks like the backend is being tricked into sendi

[2020-09-03 13:22] MyIsaak commented on #464
Hi @indiescripter, I reproduced your issue and provided a PR. Please check it out, thanks!

[2020-09-03 19:54] indiescripter commented on #464
Hey @MyIsaak, thank you plus looks like you went to all the trouble to sign the Google CLA.

I'm cloning your patch branch right now; will build, test & let you know. Is it possible/useful to add my handle to the Assignees field in your PR (or maybe that's only for v8.dev admin to do on their side; I don't know).

Back in a while after some morning coffees. It's 5.30 am in my neck of the woods!

[2020-09-03 21:38] indiescripter commented on #464
Hi @MyIsaak, please see my thorough test report in PR #465 comments:

https://github.com/v8/v8.dev/pull/465#issuecomment-686776204

[2020-09-07 15:13] #464 closed

[2020-09-09 08:26] mathiasbynens commented on #121
https://v8.dev/tools now redirects. Closing for now.

[2020-09-09 08:26] #121 closed

[2020-09-13 11:05] FredrikNoren opened #469 "Flags for embedded build (libc++)"
Hi,

I'm trying to use v8 with [rust webgpu](https://github.com/gfx-rs/wgpu-rs) through [rusty_v8](https://github.com/denoland/rusty_v8). However webgpu segfaults and the working theory is that it's because v8 and webgpu use different versions of libc++ ([issue 1](https://github.com/gfx-rs/wgpu-rs/issues/556), [issue 2](https://github.com/denoland/rusty_v8/issues/465)). From what I understand, v8

[2020-09-13 22:35] FredrikNoren commented on #469
Ok turns out `use_custom_libcxx=false` was the only thing I needed, I just wasn't linking with libc++

[2020-09-13 22:35] #469 closed

[2020-09-14 07:05] marjakh opened #470 "Followed default instructions (incl npm start) -> the server doesn't print error messages, but doesn't handle requests either"
To reproduce:

Take a clean checkout
npm run build
npm run watch

(In another terminal):
npm start

Output from npm start:

[code]

But nothing is served on that port (when navigating with a non-incognito browser, it'll show a cached version).

[code]

Workaround: npx serve dist

[code]

[code]

If it's a problem with "the server fails to get the port" or something, it should at least print an err

[2020-09-21 22:44] PlzDontBlackListMe opened #476 "Respectful Language Concern"
Did my username immediately set off alarm bells?

Did the fact the "B" and the "L" are both capitalized suggest this may be more "racist" than you initially thought (It was done for ease of reading and camelCase habit). Then you my friend, are guilty of looking beyond the mark.

This account was created out of a legitimate concern my primary account would be ~~blacklisted~~ sorry, blocklisted (whi

[2020-09-22 13:29] surma commented on #476
We are fully committed to implement the “Respectful Code” guidelines as outlined.

[The `master` branch in git comes from the master/slave dichotomy](https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html), and as such carries racist heritage that we have no interest in perpetuating. Same goes for [Blacklist/Whitelist](https://jmla.pitt.edu/ojs/jmla/article/view/490/744).

[2020-09-22 13:29] #476 closed

[2020-09-28 17:51] jsantell opened #481 "Public API page 404's"
The doxygen API (`https://v8.dev/api`) 404's, linked from `https://v8.dev/docs/api`

[2020-09-29 12:04] siroossheikhi opened #482 "Nodejs (V8 engine) compiler bug report"
Hi Guys
Today while I was coding realized destructuring assignment will not work correctly when write immediately after close brace of object defining without semicolon.
You can re-create bug using below sample codes. my node version is 12.16.2

**Close brace of object defining without semicolon**

**above code will return**

**Close brace of object defining with semicolon**

**above code will ret

[2020-09-29 13:14] jakobkummerow commented on #482
Next time please report (suspected) bugs at crbug.com/v8/new.

This is working as intended; see the ASI spec at https://tc39.es/ecma262/#sec-automatic-semicolon-insertion.

[2020-09-29 13:14] #482 closed

[2020-09-29 13:24] siroossheikhi commented on #482
Ok,
Thank you for information

[2020-10-01 09:34] mathiasbynens opened #485 "deploy_preview action recently started failing"
Example failure: https://github.com/v8/v8.dev/pull/484/checks?check_run_id=1192564086

[code]

AFAICT, we did not make any changes to our config.

cc @jhuleatt, does this sound familiar to you?

[2020-10-01 15:09] jhuleatt commented on #485
GitHub doesn't supply secret values to the action when a PR is made from a fork. I've been meaning to document this (https://github.com/FirebaseExtended/action-hosting-deploy/issues/17), sorry it wasn't clear.

![Screen Shot 2020-10-01 at 8 06 17 AM](https://user-images.githubusercontent.com/3759507/94827382-36525600-03bd-11eb-96f1-fbff70b0d10d.png)

There may be a workaround: https://stackoverflo

[2020-10-01 15:20] mathiasbynens commented on #485
Thanks @jhuleatt. Maybe a nice way to "document" this would be to throw an error with an error message that echoes what you said said?

[2020-10-01 15:26] #485 closed

[2020-10-30 15:39] ruoru opened #496 "V8 variables declared in where?"
I can't find the relevant information, so I want to ask here.
During the compilation process of V8, the scope will also be generated in this step of AST.
so, my question is will variables be declared in the generation of scope? Or declaring variables when execute code?

[2020-10-31 07:16] gsathya commented on #481
Looks like it's back up? Works for me

[2020-11-01 06:11] juzhiyuan commented on #481
Looks good to me, this link is just a backup IMO.

[2020-11-01 13:46] RaisinTen opened #498 "No changes visible in preview URLs for PRs"
I noticed that the preview URLs for the PRs don't contain the committed changes.

Refs:
* https://github.com/v8/v8.dev/pull/497
* https://github.com/v8/v8.dev/pull/494

Maybe [this issue](https://github.com/actions/checkout/issues/237) is still persisting. Should we use `@actions/checkout@v1` instead?

[2020-11-01 17:17] jsantell commented on #481
Yup, looks like that link works now, closing

[2020-11-01 17:17] #481 closed

[2020-11-05 17:27] achronop opened #500 "Building embeding V8 instructions produce an error"
[code]

[2020-11-05 17:33] achronop commented on #500
[code]

[2020-11-20 20:31] ajklein opened #505 "Doxygen API reference page is empty"
On https://v8.dev/docs/api, there's a link to doxygen-generated pages for the V8 C++ API. But that page, https://v8.github.io/api/head/, is blank.

[2020-11-23 09:32] achronop commented on #500
It was my bad, sorry for the inconvenience.

[2020-11-23 09:32] #500 closed

[2020-12-10 15:01] meiry opened #512 "visual studio release compilation static lib error: lld-link: error: could not open 'obj/v8_wrappers.lib': no such file or directory"
i followed all the steps from https://v8.dev/docs/build-gn
to build release-static v8 lib but I'm getting this error :
using VC 2019 , win10 64bit from https://v8.dev/docs/build-gn
doing git branch it shows :
[code]

the error I'm getting :
[code]

[2020-12-22 22:48] dividebylife commented on #512
I'm running into as well.  What's weird is that v8_wrapper appears to be just a header file.  I don't think it would even generate a lib file.

[2020-12-23 05:32] meiry commented on #512
@dividebylife
need to try to compile older version to test if this happen too

[2020-12-24 07:11] NayanKaran opened #516 "Feature to unblock the Event-Loop automatically after certain period of time."
Currently:

[code]

in any function would block the event loop.

There should be a function like:

`setExecutionTimeout(1000)`

which would call:

`await setImmediatePromise()`

after 1000ms if the function fails to complete it's execution in 1000ms.

which could be defined as:

[code]

Other thing could be done is, making

`setTimeout(function(){ alert("Hello"); }, 3000);`

independent of event l

[2020-12-24 08:09] #516 closed

[2020-12-28 20:08] dividebylife commented on #512
I was able to build by just removing the #include lines for v8_wrapper.  But the libs that were generated could not be linked on windows.  It's possible that "libs not linking on windows" is a separate problem, though.

[2021-01-01 19:03] maxshugar commented on #512
I'm experiencing the exact same issue on windows 10 - x64. Any ideas on how this could be resolved?

[2021-01-04 08:56] michaelcplusplus commented on #434
I have the same problem with NDK 20 and V8 8.9
Is there a solution to this problem?

[2021-01-04 17:13] dividebylife commented on #512
No idea if this will help you since the instructions are possibly specific to UnrealJS's fork of v8, but these are the instructions I followed to ultimately get a successful statically linked build with an older version of v8:
https://github.com/ncsoft/Unreal.js/wiki/V8

[2021-01-04 19:55] meiry commented on #512
@dividebylife
so if its works when your app is in DEBUG and v8 in release i don't think it is problem,
the only problem is to check if it works with the newest v8 version

[2021-01-09 10:40] meiry commented on #512
some tried it ? still having failure with the latest v8 build ( i didn't pull the 7.7.299.9999)
[code]

[2021-02-12 04:02] caoccao commented on #512
I managed to work around that. The key is `src/base/platform/wrappers.h` is a header-only file that MSVC doesn't treat fairly. So the hack is simple: let's force MSVC to accept it by creating a dummy .cc file.

Step 1: Create `src\base\platform\wrappers.cc` with the following line.
[code]

Step 2: Update `out.gn\x64.release\obj\v8_wrappers.ninja` with the following lines.
[code]

Step 3: Build v8_

[2021-03-11 23:39] socsieng commented on #27
For anyone looking for a solution to this: https://github.com/firebase/firebase-tools/issues/302#issuecomment-797122096

[2021-03-16 04:11] lucasreta commented on #505
Seems fixed already, I'm greeted by a page that provides a generic introductory message explaining that it was automatically generated by Doxygen.

[2021-03-16 04:12] lucasreta commented on #382
I believe this isn't really relevant to the repo, as that's a separate website.
Even so, it appears the certificates were renewed and are now valid.

[2021-03-16 04:33] #382 closed

[2021-03-16 17:29] ajklein commented on #505
So it seems, this now works for me.

[2021-03-16 17:29] #505 closed

[2021-04-25 23:22] Nytelife26 commented on #512
Shouldn't this ticket be opened under the main v8 project, not v8.dev?

[2021-04-26 05:30] caoccao commented on #512
I have open sourced the [step-by-step](https://github.com/caoccao/Javet/blob/main/docs/development/build.rst#build-v8-on-windows) with [patch script](https://github.com/caoccao/Javet/blob/main/scripts/python/patch_v8_build.py) for building Windows version. It works for v8.9 and v9.0. Also, I have prepared [pre-built V8](https://drive.google.com/drive/folders/18wcF8c-zjZg9iZeGfNSL8-bxqJwDZVEL) for

[2021-05-27 17:06] RReverser opened #556 "Investigate caching issues"
Looks like whenever we update CSS, it's not properly updated right away on clients - either due to Chrome's own aggressive caching, or our usage of Service Workers.

This leads to issues like this: https://twitter.com/RReverser/status/1397952567213268994.

/cc @mathiasbynens in case you have quick ideas

[2021-05-28 17:45] mathiasbynens commented on #556
Maybe we should cache-bust by serving `main.hash.css` instead of `main.css`?

[2021-05-28 17:46] mathiasbynens commented on #556
(That's assuming the problem is Chrome's own caching rather than the service worker — I didn’t check!)

[2021-07-28 15:52] HKalbasi commented on #126
I didn't find it as a user until I came here for raising an issue. Can it be a small visible link somewhere?

[2021-08-30 12:23] diegonvs opened #579 "Low contrast in JS syntax highlighter"
When trying to read the code inside https://v8.dev/blog/hash-code,

I'm seeing:

![Screen Shot 2021-08-30 at 09 22 22](https://user-images.githubusercontent.com/7663513/131338175-db8540c5-052b-4864-a97e-7f007c1046d4.png)

I can only read the code inside when selecting the text inside the highlighter, see:

![Screen Shot 2021-08-30 at 09 23 27](https://user-images.githubusercontent.com/7663513/1313

[2021-09-27 14:38] detj commented on #579
Faced same issue. I tracked down the [exact line](https://github.com/v8/v8.dev/commit/d9b0fe9799bd9b3b7a2d7f9abcadf042e246d86e#diff-be369262af3038c17fd0fbb4d1dd4bf287c27353636e909883221216ac7a94beR226) that is causing this illegibility.
Maybe, the solution is to make the background color a custom property as well and change it based on dark/light appearance.

[2021-10-13 05:25] adv-sw opened #595 "LLDB based JIT debugging - beyond Linux"
https://v8.dev/docs/gdb-jit

Says Linux only bcoz ELF. Windows lldb can also JIT load ELF, but requires following patch to enable GDB/JIT functionality.

LLDB/Windows JIT patch fix here : https://reviews.llvm.org/D110066

With that integrated, can v8 JIT debug via lldb on Windows ?

[2021-10-21 22:05] humphd commented on #579
I ran into this today, and indeed it was due to Source Code Pro.  I installed one on macOS using brew, but after seeing @mathiasbynens tweet, I dug deeper and using the version described [here](`https://github.com/Homebrew/homebrew-cask-fonts/issues/3973#issuecomment-828042901) instead fixed it.

[2021-11-15 06:46] FoxDaxian opened #608 "what's happen when event loop encountered event bubbling？"
I don't know it is appropriate to put this question here.
but I'll grateful if somebody can tell me~

[2021-11-22 22:06] Gumbit opened #610 "Embedded V8 Crashes in snapshot serialization under LINUX 64-bit"
Version 9.4.146

Linux 4.18.0-305.10.2.el8_4.x86_64 #1 SMP Mon Jul 12 04:43:18 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux

This fails consistently while embedded in our C++ application. We have created a standalone C++ program to demonstrate the issue. It does not fail unless it is run with Valgrind where it will fail consistently. Am attaching the Valgrind output, the sample program, compile options

[2021-11-23 15:00] Gumbit commented on #610
I am wondering whether the crash is caused during the creation of the snapshot. The snapshot creation uses a number of function template. I saw an old post (7 years old) that indicated that function templates and array objects were not supported in snapshots. If this is true, I wonder whether this may be our problem.  When the program creates the snapshot and then immediately reads it back in, it

[2021-11-24 10:02] LeszekSwirski commented on #610
This is the repository for the V8 website, please file a bug on crbug.com/v8

[2021-11-24 10:02] #610 closed

[2022-01-12 01:04] datapolitical commented on #4
For someone not using the Webpack plugin, where does the templatedurls code go? I just have a regular workbox install.

[2022-01-12 01:07] caleb531 commented on #4
@datapolitical I put my templatedUrls code in my gulpfile.js, as part of a gulp task that was using `workbox-build`. In your case, I would think that whatever you are using to build your project, _that_ is where the templatedUrls code should go.

[2022-01-12 01:16] datapolitical commented on #4
So I'm using Jekyll, with this plugin: https://github.com/bmeurer/jekyll-workbox-plugin. I've read all the relevant files and it doesn't seem like there's an obvious place to put that templatedurls code. But I'm also not that familiar with Workbox.

If you have any ideas how to update service-worker.js or sw.js or change the plugin to include or get the same result as the templatedurls I'd be very

[2022-01-21 09:54] zhaosonggo opened #619 "How to debug V8 in Xcode?"
1. gn gen  out/xcode --ide="xcode"
2. open all.xcodeproj
3. build v8_hello_world
4. add breakpoints in "sample/hello-world.cc"

but breakpoint failure，please help me

[2022-01-23 13:32] e10514001 opened #620 "how to debug using %SystemBreak(); in chromium on Android platform"
i want to debug chromium render process, so i using this:
chrome_public_apk launch --args='--js-flags="--allow-natives-syntax" --process-per-tab --wait-for-debugger-children=renderer ' 127.0.0.1:8000/my.html

and get the pid:
org.chromium.chrome 9623
org.chromium.chrome:privileged_process0 9691
org.chromium.chrome:sandboxed_process0 9656

next i attach to android process:
chrome_public_apk  gdb --

[2022-02-15 23:28] SamCZ opened #624 "Could not build v8 on windows with VS2019"
Hi for a few days I've been trying to build v8 on windows with MSVC 14.29.30133 and WinSDK 10.0.19041.0

My build commands:

[code]

it produces this error
[code]

I tried added `-Winvalid-offsetof` to cflags and also to `toolchain.ninja`, but with no luck.

Can sombody please help me ?

[2022-02-16 00:15] caoccao commented on #624
It needs to be patched. Please refer to this [doc](https://www.caoccao.com/Javet/development/build_javet_from_scratch.html#build-v8-for-windows) for the patch script.

[2022-02-16 00:26] SamCZ commented on #624
Were do I find the `python %JAVET_HOME%\scripts\python\patch_v8_build.py -p .\` JAVET ?

[2022-02-16 00:26] SamCZ commented on #624
Im trying to build v8 to use it as embedded scripting in my C++ engine

[2022-02-16 00:30] SamCZ commented on #624
ok I found the script in javet git repo, I will try it

[2022-02-16 00:30] SamCZ commented on #624
@caoccao What version of v8 are you recommending ? There is so much tags I don't know what is the best stable

[2022-02-16 00:32] caoccao commented on #624
The V8 listed on [Javet home page](https://github.com/caoccao/Javet) is the recommended one.

[2022-02-16 00:57] SamCZ commented on #624
Thanks, build is working now.

It is normal that the v8_monolight is almost 1GB on release ?
![image](https://user-images.githubusercontent.com/5303066/154175777-604b941a-4448-4852-829b-eb89dc05c03f.png)

[2022-02-16 01:08] SamCZ commented on #624
I got this error while linking v8 to simple VS program `E:\v8\v8\out\x64.release\obj\v8_libbase.lib : fatal error LNK1107: invalid or corrupt file: cannot read at 0xCC2E`

[2022-02-16 01:30] SamCZ commented on #624
@caoccao I tried to recompile it all again and I cannot still link it in VS

[2022-02-16 01:52] SamCZ commented on #624
Got it working, the problem was the v8 was in default building with clang, when I disabled that I managed to link it in VS

[2022-02-16 01:53] SamCZ commented on #624
So the only question remains if the v8_monolith library should be around 1GB
@caoccao Thnaks fror the help
![image](https://user-images.githubusercontent.com/5303066/154181168-b68f09b0-00bb-4727-ae6b-8250a5946fa0.png)

[2022-02-16 02:47] caoccao commented on #624
No. If you go with the MSVC, it should be 100+MB. Please refer to this [dockerfile](https://github.com/caoccao/Javet/blob/main/docker/windows-x86_64/base.Dockerfile) for the complete steps.

![v8_monolith](https://user-images.githubusercontent.com/17514279/154186496-1f0d9164-3480-4c72-870e-92d9f9846d72.png)

[2022-02-17 01:00] #624 closed

[2022-03-10 15:25] lxj5891 opened #627 "how to build using nuttx with stm32f4"
how to build using nuttx with stm32f4

[2022-04-13 12:53] camillobruni commented on #620
Note %SystemBreak is for exactly this purpose when using gdb directly.

Please use a different channel to get V8 support, this is purely for content on v8.dev:
- https://stackoverflow.com/questions/tagged/v8
- v8-dev@googlegroups.com
- https://v8.dev/bug

[2022-04-13 12:53] #620 closed

[2022-04-13 12:54] camillobruni commented on #608
This is not a v8-related question.
Maybe the general mdn help page is what you're looking for: https://developer.mozilla.org/en-US/docs/Web/JavaScript/EventLoop

[2022-04-13 12:54] #608 closed

[2022-04-13 13:37] camillobruni commented on #496
Please use a different channel to get V8 support, this is purely for content on v8.dev:

- https://stackoverflow.com/questions/tagged/v8
- v8-dev@googlegroups.com
- https://v8.dev/bug

[2022-04-13 13:38] camillobruni commented on #413
You ran out of memory, likely due to a very large string.

Please use a different channel to get V8 support, this is purely for content on v8.dev:

- https://stackoverflow.com/questions/tagged/v8
- mailto:v8-dev@googlegroups.com
- https://v8.dev/bug

[2022-04-13 13:38] #413 closed

[2022-04-18 14:52] jgbecker opened #634 "Build breaks in VS 2022 when compiling a monolithic standard library"
I am trying to build a monolithic, static v8  in a VS 2022 developer command line on Windows.

I use the following configuration file:

[code]

The build process breaks with the following error message:

[code]

 When I add

`fatal_linker_warnings = false`

and, the build breaks only later in the build process, with error

[code]

Creating an empty library named `v8_heap_base_headers.lib` in Visua

[2022-04-22 19:21] andre4ik3 opened #637 "Website is down?"
While I was browsing the website, I refreshed it, and now the whole website seems dead. Any connection shows "Unable to connect to server" error in Safari and "Connection refused" in curl.

<img width="500" alt="curl" src="https://user-images.githubusercontent.com/62390580/164780147-b0212e9a-8db1-40db-87d9-5ce0a2125069.png">

[2022-05-01 04:52] connorjclark commented on #335
Still flashes... I wonder why https://web.dev/ (which also has a dark theme toggle) doesn't have a similar flash 🤔

[2022-05-01 06:26] tomayac commented on #335
See https://github.com/v8/v8.dev/pull/455#issuecomment-665715070. It’s fine once you have the CSS cached.

[2022-07-06 17:10] dgatwood opened #657 "Code in embedding documentation does not compile."
The doc in question is here:

    https://v8.dev/docs/embed

This line:

    v8::Persistent<v8::Context> context =
        v8::Context::v8::New(isolate, nullptr, global_templ);

is quite obviously wrong, because the extra "v8::" doesn't belong, though the fix for part of that is obvious.

But this line and the line above:

    v8::Persistent<v8::Context> context =
        v8::Context::New(isolate,

[2022-07-19 22:22] Brecheyashtiff opened #660 "(That's assuming the problem is Chrome's own caching rather than the service worker — I didn’t check!)"
(That's assuming the problem is Chrome's own caching rather than the service worker — I didn’t check!)

_Originally posted by @mathiasbynens in https://github.com/v8/v8.dev/issues/556#issuecomment-850573918_

[2022-07-20 09:05] #660 closed

[2022-07-21 20:21] Brecheyashtiff opened #661 "HTTP SERVER"
--- 21 Jul 2022 1:59:23 am
--- IP (ccmni2) 100.80.150.132
--- IP (ccmni1) 2600:1005:1100:4557:ef5c:3f8a:516:e81a
--- Connection: LTE

TRACE: https://2567089031/
User-Agent: 2567089032

Problem accessing URL: Unable to resolve host "2567089031": No address associated with hostname

[2022-07-21 20:27] Brecheyashtiff commented on #661
Elizabeth Packard is her name. Also with Cheyenne McKelvey steeling money and time for you to be a part of a felony charge. Mike Johaness you have broken the law , and you should have to pay for it all. Including me. For my life , my being fired , mentally and emotionally draining me to the point of suicide. Your position at homeland security should be abolished!!!!

[2022-07-21 20:29] #661 closed

[2022-07-21 20:33] Brecheyashtiff opened #662 "Abuse@github"
https://github.com/Brecheyashtiff/Brecheyashtiff/blob/main/README.md

[2022-07-21 20:35] Brecheyashtiff commented on #662
abuse@github.com

[2022-07-21 21:22] Brecheyashtiff opened #663 "Launch"
https://github.com/Sumbo-1/github-readme-stats

[2022-08-30 15:00] ErickWendel opened #665 "Hello World example on Getting started with embedding V8 not working"
Hey! I'm trying to run the v8 get started example on a Linux 64 gitpod, Docker env, and my Mac M1

In the gitpod Linux and the Docker example I got, it always breaks at the `tools/dev/v8gen.py` command:

[code]
To make it run on the mac I saw this nice [blog](https://joyeecheung.github.io/blog/2021/08/27/binding-v8-on-an-m1-macbook/) In her article, running `python2 tools/run-tests.py --outdir=out

[2022-08-30 19:58] #665 closed

[2022-09-10 17:28] wangym1551 commented on #619
i have this problem too

[2022-09-19 20:38] cek333 opened #668 "coverage data missing uncovered functions"
Hello.

I'm using startPreciseCoverage / takePreciseCoverage to extract code coverage data from Chrome (i.e. v8).

My issue: data from uncovered functions are missing from the dumped data.
For example, assume the `handleSubmit` function in `authors.js` is not called. I expect to see this:
[code]
but instead I get this:
[code]
i.e. there is no data at all on the uncovered function. This causes the

[2022-09-20 19:48] cek333 commented on #668
This is not the right place to report this issue.

[2022-09-20 19:48] #668 closed

[2022-09-23 10:07] peiweippww commented on #619
I have the same problem

[2022-10-25 23:10] fbarchard opened #669 "./build/install-build-deps.sh - IndentationError: unexpected indent"
builds fail on linux (see below) so I tried to update dependencies, but thats also failing
[code]

builds have link error on libstdc++
[code]

python2 --version
Python 2.7.18

python --version
Python 3.10.7

[2022-10-27 01:37] fbarchard commented on #669
problem is resolved, but unclear why it came up.
first I did a fresh install, following the instructions, build the build failed on link to libstdc++
then I tried installing the dependencies... which failed.  (above)
so i tried installing python2, which didnt resolve the issue, and then dependencies for other packages that had similar issues.
still not luck.
then i installed jsvu which correctly i

[2022-10-27 01:39] #669 closed

[2022-10-30 13:06] nianxiongdi opened #671 "no debugging symbols found."
[code]